@import "../../scss/index.scss";

.register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  header{
    position: relative;
    background-color: white;
    margin-left: 4em;
    width: 100%;
    h1{
      margin: 0;
      font-weight: 600;
      font-size: 3em;
    }
    b{
      color: $color-purple;
    }
  }
  &__buttons {
    display: flex;
    gap: 1em;
  }
  &__spamtext{
    color: $font-gray;
  }
}

.svg-ellipse{
  width: 100px;
  position: absolute;
  left: -35px;
  top: -35px;
  z-index: -1;
}