$color-gray: #e8e8e8;
$color-orange: #f39400;
$color-purple: #9d2b86;

$defaultFontFamily: 'Arvo', serif;
$defaultFontSize: 16px;
$font-dark: #242424;
$font-gray: #9b9b9b;

$boder-radius: 0.35rem;
$transition: all 0.3s ease-out;