@import "../../scss/index.scss";

.App{
  height: 100vh;
  display: grid;
  grid-template-columns: .8fr 1fr;
  

  &__img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray;
    img{
      width: 100%;
    }
  }

  &__content{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    header{
      position: relative;
      background-color: white;
      margin-left: 4em;
      width: 100%;
      h1{
        margin: 0;
        font-weight: 600;
        font-size: 3em;
      }
      b{
        color: $color-purple;
      }
    }
    &__buttons {
      display: flex;
      gap: 1em;
      padding-top: 1em;
    }
    &__spamtext{
      color: $font-gray;
    }
  }
}


.svg-ellipse{
  width: 100px;
  position: absolute;
  left: -35px;
  top: -35px;
  z-index: -1;
}