@import "../../scss/index.scss";

.admin {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  align-items: center;

  &__table {
    th{
      vertical-align: middle;
    }
    &--img {
      img {
        width: 100px;
        object-fit: cover;
      }
    }

    &--name {
      text-transform: capitalize;
    }
  }
}

.subtable {
  
  &--questions{
    b{
      font-weight: 700;
    }
  }
}