@import "../../scss/index.scss";

.admin{
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  align-items: center;
  &__table{
    &--img{
      img{
        width: 100px;
        object-fit: cover;
      }
    }
    &--name{
      text-transform: capitalize;
    }
  }
}